# dependencies
node_modules/
package-lock.json

# logfiles
*.log

# output
dist/

# protogen
src/protogen/*

# test
coverage/

# env
.env*
!.env.example

# OS
.DS_Store

# VSCode
.vscode/*
!.vscode/extensions.json

# ESLint
.eslintcache

# ignore keep
!.keep
